/*common css 公用样式*/

body {
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", Tahoma, Helvetica;
}

a {
    color: #666;
}

a:hover {
    color: #666;
    text-decoration: none;
}


/*model css 模块样式*/

.wjs-topBar {
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.wjs-topBar>.container {
    line-height: 40px;
    text-align: center;
}

.wjs-topBar>.container>div {
    height: 40px;
    border-left: 1px solid #ccc;
}

.wjs-topBar>.container>div:first-child {
    border-left: none;
}

.wjs-topBar .btn-register {
    background-color: #e92322;
    color: #fff;
    border: none;
    padding: 3px 10px;
    font-size: 12px;
}

.wjs-topBar .btn-login {
    color: #666;
    font-size: 12px;
}

.wjs-topBar .btn-login:hover {
    text-decoration: none;
}

.wjs-app {
    position: relative;
    display: block;
}

.wjs-app img {
    display: none;
}


/*不用写js代码，设置一个.wjs-app:hover 的css，当hover到 .wjs-app 时， 把img执行某个属性*/

.wjs-app:hover img {
    display: block;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -60px;
    /*来自图片的宽度除以二*/
    border: 1px solid #ccc;
    border-top: none;
    z-index: 999;
}


/*导航条*/

.wjs-nav {
    border: none;
    border-radius: 0;
    /*border-bottom: 1px solid #ccc;*/
    background-color: #fff;
    margin-bottom: : 15px;
}

.wjs-nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs-nav .navbar-brand:focus,
.wjs-nav .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.wjs-nav .navbar-text {
    color: #777
}

.wjs-nav .navbar-nav>li>a {
    color: #777;
    height: 80px;
    line-height: 50px;
}

.wjs-nav .navbar-nav>li>a:focus,
.wjs-nav .navbar-nav>li>a:hover {
    color: #333;
    border-bottom: 3px solid #dd3137;
}

.wjs-nav .navbar-nav>.active>a,
.wjs-nav .navbar-nav>.active>a:focus,
.wjs-nav .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #dd3137;
}

.wjs-nav .navbar-nav>.disabled>a,
.wjs-nav .navbar-nav>.disabled>a:focus,
.wjs-nav .navbar-nav>.disabled>a:hover {
    color: #ccc;
    background-color: transparent
}

.wjs-nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}

.wjs-nav .navbar-toggle:focus,
.wjs-nav .navbar-toggle:hover {
    background-color: #ddd
}

.wjs-nav .navbar-toggle .icon-bar {
    background-color: #888
}

.wjs-nav .navbar-collapse,
.wjs-nav .navbar-form {
    border-color: #e7e7e7
}

.wjs-nav .navbar-nav>.open>a,
.wjs-nav .navbar-nav>.open>a:focus,
.wjs-nav .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width:767px) {
    .wjs-nav .navbar-nav .open .dropdown-menu>li>a {
        color: #777
    }
    .wjs-nav .navbar-nav .open .dropdown-menu>li>a:focus,
    .wjs-nav .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #333;
        background-color: transparent
    }
    .wjs-nav .navbar-nav .open .dropdown-menu>.active>a,
    .wjs-nav .navbar-nav .open .dropdown-menu>.active>a:focus,
    .wjs-nav .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #555;
        background-color: #e7e7e7
    }
    .wjs-nav .navbar-nav .open .dropdown-menu>.disabled>a,
    .wjs-nav .navbar-nav .open .dropdown-menu>.disabled>a:focus,
    .wjs-nav .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.wjs-nav .navbar-link {
    color: #777
}

.wjs-nav .navbar-link:hover {
    color: #333
}

.wjs-nav .btn-link {
    color: #777
}

.wjs-nav .btn-link:focus,
.wjs-nav .btn-link:hover {
    color: #333
}

.wjs-nav .btn-link[disabled]:focus,
.wjs-nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs-nav .btn-link:focus,
fieldset[disabled] .wjs-nav .btn-link:hover {
    color: #ccc
}


/*轮播图样式*/

.wjs-banner {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.wjs-banner .pc-imageBox {
    display: block;
    width: 100%;
    height: 410px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*信息模块 */

.wjs-info {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.wjs-info>.container {
    /*width: 70%;*/
    /*或者设置一个固定px的宽度，然后下面设置为题查询器，设置在小屏设备下container的宽度*/
    width: 900px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .wjs-info>.container,
    .wjs-book>.container {
        width: 750px;
    }
}

.wjs-info .media {
    display: block;
    padding: 15px 0;
}

.wjs-info .media:hover {
    color: #dd3137;
}

.wjs-info a span {
    font-size: 38px;
}


/*预约区块*/

.wjs-book {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

@media (min-width: 992px) {
    .wjs-book>.container {
        width: 900px;
    }
}

.wjs-book .wjs-book-link {
    color: #dd3137;
    /*dashed 虚线*/
    border-bottom: 1px dashed #dd3137;
}

.wjs-book .wjs-book-method:hover {
    color: #dd3137;
}


/*产品区域*/

.wjs-product {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}


/*重写nav-tabs*/

.wjs-product .nav-tabs {
    border-bottom: 1px solid #ddd;
}

.wjs-product .nav-tabs>li {
    float: left;
    margin-bottom: 0;
    margin-left: 15px;
}

.wjs-product .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
    margin-right: 0;
}

.wjs-product .nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background-color: #f5f5f5;
}

.wjs-product .nav-tabs>li.active>a,
.wjs-product .nav-tabs>li.active>a:focus,
.wjs-product .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: 0;
    border-bottom: 3px solid #dd3137;
}

.wjs-product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.wjs-product .nav-tabs.nav-justified>li {
    float: none
}

.wjs-product .nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center
}

.wjs-product .nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .wjs-product .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .wjs-product .nav-tabs.nav-justified>li>a {
        margin-bottom: 0
    }
}

.wjs-product .nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 4px
}

.wjs-product .nav-tabs.nav-justified>.active>a,
.wjs-product .nav-tabs.nav-justified>.active>a:focus,
.wjs-product .nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .wjs-product .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }
    .wjs-product .nav-tabs.nav-justified>.active>a,
    .wjs-product .nav-tabs.nav-justified>.active>a:focus,
    .wjs-product .nav-tabs.nav-justified>.active>a:hover {
        border-bottom-color: #fff
    }
}

.wjs-product .nav-tabs-parent {
    width: 100%;
    overflow: hidden;
}


/*产品盒子*/

.product-box {
    width: 100%;
    height: 150px;
    display: block;
    background-color: #fff;
    margin-top: 20px;
    /*阴影设置方法 水平 垂直 模糊度 颜色*/
    box-shadow: 3px 3px 5px #d8d8d8;
}

.product-box.active {
    background-color: #dd3137;
    position: relative;
}


/*用伪元素设置内容的方法*/

.product-box.active::before {
    font-family: 'Glyphicons Halflings';
    font-size: 24px;
    color: #fff;
    content: "\e006";
    position: absolute;
    left: 0;
    top: 0;
}

.product-box .box-left {
    overflow: hidden;
}

.product-box .box-right {
    height: 100%;
    width: 80px;
    float: right;
    text-align: center;
    position: relative;
    border-left: 1px dashed #ddd;
}
.product-box .box-right::before,
.product-box .box-right::after{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: -6px;
    background-color: #f5f5f5;
    border-radius: 6px;

}
.product-box .box-right::before{
    top:-6px;
    box-shadow: inset 0 -3px 3px #d8d8d8;
}
.product-box .box-right::after{
    bottom: -6px;
    box-shadow: inset 0 3px 3px #d8d8d8;
}

.product-box.active .box-right p {
    color: #fff;
}


/*E:first-of-type 通过E找到父元素，然后找到父元素当中的所有E类型的子元素 找到第一个*/


/*E:last-of-type 找到最后一个*/


/*E:nth-of-type 找到第几个 */

.product-box.active .box-right p:first-of-type {
    color: #fff;
}

.product-box .box-right p:first-of-type {
    color: #dd3137;
    margin-top: 25px;
}

.product-box .box-right p:first-of-type b {
    font-size: 48px;
}

.product-box .box-right p:first-of-type sub {
    bottom: 0;
}

.product-box .box-right .tips {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    text-align: center;
}

.product-box .box-right .tips span {
    height: 16px;
    width: 16px;
    font-size: 12px;
    border: 1px solid #ccc;
    /*块元素才有高宽，设置才有效*/
    display: inline-block;
    line-height: 16px;
}

.product-box .box-right .tips .red {
    color: red;
    border-color: red;
}

.product-box .box-right .tips .green {
    color: green;
    border-color: green;
}

.product-box .box-left {}

.product-box .box-left h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.product-box .box-left div {
    font-size: 12px;
}

.product-box .box-left {}

.product-box .box-left {}